<template>
  <h3>Create user</h3>

  <form submit.trigger="submitForm()" style="margin-top:30px;">
    <div>
      Username: <input type="text" value.bind="skeleton.name"/>
      <span style="color: red">${errors.name}</span>
    </div>

    <div>
      Email: <input type="email" value.bind="skeleton.email"/>
      <span style="color: red">${errors.email}</span>
    </div>

    <div>
      Password: <input type="password" value.bind="skeleton.password"/>
      <span style="color: red">${errors.password}</span>
    </div>

    <input type="submit" value="Create"/>
  </form>
</template>
