<template>
  <h3>Create event</h3>

  <form submit.trigger="submitForm()" style="margin-top:30px;">
    <div>
      Title: <input type="text" value.bind="skeleton.title"/>
      <span style="color: red">${errors.title}</span>
    </div>

    <div>
      Description:
      <textarea value.bind="skeleton.description"></textarea>
      <span style="color: red">${errors.description}</span>
    </div>

    <div>
      Destination:
      <select>
        <option>Choose a destination</option>
      </select>
      <span style="color: red">${errors.destination}</span>
    </div>

    <div>
      Date Start: <input type="date" value.bind="skeleton.dateStart"/>
      <span style="color: red">${errors.dateStart}</span>
    </div>

    <div>
      Date End: <input type="date" value.bind="skeleton.dateEnd"/>
      <span style="color: red">${errors.dateEnd}</span>
    </div>

    <input type="submit" value="Create"/>
  </form>
</template>
