<template>
  <div show.bind="isUserLoggedIn === true">
    You're already logged in, you might want to <a href="#sign/out">log out</a> ?
  </div>

  <div show.bind="isUserLoggedIn === false">
    Hello dear user,
    You have to log in to use the application !

    <form submit.trigger="submitForm()">
      <div>
        Email: <input type="email" value.bind="skeleton.email"/>
        <span style="color: red">${errors.email}</span>
      </div>

      <div>
        Password: <input type="password" value.bind="skeleton.password"/>
        <span style="color: red">${errors.password}</span>
      </div>

      <input type="submit" value="Log In"/>
    </form>
  </div>
</template>
