<template>
  <h3>List Destinations</h3>

  <div style="margin-top: 20px;" repeat.for="dest of destinations">
    <div>
      Name: <a href="#destination/show/${dest._id}">${dest.name}</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#destination/edit/${dest._id}">Edit</a>
      <br/>
      Description: ${dest.description}
      <br/>
      Rating: ${dest.rating.toString().substring(0, 4)}
    </div>
  </div>
</template>
