<template>
  <h3>Create destination</h3>

  <form submit.trigger="submitForm()" style="margin-top:30px;">
    <div>
      Name: <input type="text" value.bind="skeleton.name"/>
      <span style="color: red">${errors.name}</span>
    </div>

    <div>
      Description:
      <textarea value.bind="skeleton.description"></textarea>
      <span style="color: red">${errors.description}</span>
    </div>

    <div>
      Location: <input type="text" value.bind="skeleton.location"/>
      <button click.trigger="getUserLocation()">Get location</button>
      <span style="color: red">${errors.location}</span>
    </div>

    <input type="submit" value="Create"/>
  </form>
</template>
