<template>
  <h3>Show Destination</h3>

  Name: ${skeleton.name}
  &nbsp;&nbsp;&nbsp;
  <span show.bind="isOwner === true">
    <a click.trigger="destroy()">Destroy</a>  /
    <a click.trigger="edit()">Edit</a>
  </span>

  <br/>
  Description: ${skeleton.description}
  <br/>
  Location: ${skeleton.location} <!-- show map here -->
  <br/>
  Rating: ${params.destRating.toString().substring(0, 4)}
  <br/>

  <ul>
    <li repeat.for="val of params.comments">
      ${val.content}
    </li>
  </ul>

  <compose view-model="widget/Comment/Comment" model.bind="{comments: params.comments, destRating: changeRating, destId: params.destId, parentContext: parentContext}" show.bind="isUserLoggedIn === true"></compose>
</template>
