<template>
  <form submit.trigger="submitForm()">
    <textarea value.two-way="content"></textarea>

    <select value.bind="rating">
      <option model.bind="0">Choose...</option>
      <option repeat.for="value of ratings" model.bind="value">${value}</option>
    </select>
    <input type="submit" value="Add Comment"/>
  </form>
</template>
