<template>
  <!--<require from="localhost/HolidayApp/front/styles/bootstrap/bootstrap.css"></require>-->

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="right: 1325px;">
        <div repeat.for="route of routes">
          <div class="navbar-header" show.bind="route.visible === true && (route.visibleIfUserIsNotLoggedIn === true || (isUserLoggedIn === true && route.visibleIfUserIsNotLoggedIn === false))">
                <a class="navbar-brand" href.one-way="'#' + route.route">
                    <i class="fa fa-user"></i>
                    <span>${route.title}</span>
                </a>
            </div>
        </div>
    </nav>

  <div class="container" style="margin-top: 50px;">
        <div class="row">
            <router-view class="col-md-8"></router-view>
        </div>
    </div>
</template>
